body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 70%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

input {
    width: 30%;
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

.delete-btn {
    background: red;
}